/* .chart {
    height: 500px;
    background-color: #fff;
} */

.content-empty {
    background: #f8f9fa;
    border-radius: 10px;
    height: 30vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #e0c9c9;
}

.content-empty span {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    color: #418294;
}